<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .outer {
        border: 5px dotted rgb(214, 129, 137);
        border-radius: 5px;
        width: absolute;
        padding: 10px;
        margin-bottom: 40px;
    }

    .float1 {
        padding: 10px;
        border-radius: 5px;
        float: center;
        width: 800px;
    }

    .float {
        padding: 10px;
        border-radius: 5px;
        float: left;
        width: 600px;
    }

    .float2 {
        padding: 10px;
        border-radius: 5px;
        float: left;
        width: 450px;
    }

    .overflow {
        overflow: auto;
    }
</style>

<h1>Budget Mapping</h1>
<div>

    <h1>Overview 2022</h1>

    

    <div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Salary</td>
                    <td>Trans</td>
                    <td>Salary - Trans =</td>
                    <td>Budget</td>
                    <td>Salary - Budget =</td>

                </tr>
                <tr>
                    <td>{{year2022Salary}}</td>
                    <td>{{year2022Trans}}</td>
                    <td>{{year2022Difference}}</td>
                    <td>{{year2022budget}}</td>
                    <td>{{year2022Uncounted}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Categories 2022</h2>

    <div>
        <table class="table table-bordered">

            <tbody>
                <td>Catgory</td>
                <td>Budget Money</td>
                <td>Spent Money</td>
                <td>Budget %</td>
                <td>Spent %</td>
                <td>Left Over</td>

                <tr ng-repeat='year in yearCategory2022'>
                    <td>{{year.category}}</td>
                    <td>{{year.budget_money}}</td>
                    <td>{{year.spent_money}}</td>
                    <td>{{year.budget_percentage}}</td>
                    <td>{{year.spent_percentage}}</td>
                    <td ng-style="year.NEGATIVE === 'TRUE' && {'background-color': 'red'} || year.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}">{{year.difference}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="chartContainerBudget22" style="height: 300px; max-width: 920px; margin: 0px auto;"></div>


    <h2>MONTHS 2022</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr ng-repeat='data in year2022'>
                    <td ng-style="data.month === 'JANUARY' && {'background-color': 'blue'} ||
             data.month === 'FEBRUARY' && {'background-color': 'pink'}|| 
             data.month === 'MARCH' && {'background-color': 'green'}|| 
             data.month === 'APRIL' && {'background-color': 'gray'}|| 
             data.month === 'MAY' && {'background-color': '#40e0d0'}|| 
             data.month === 'JUNE' && {'background-color': 'yellow'}|| 
             data.month === 'JULY' && {'background-color': 'white'}|| 
             data.month === 'AUGUST' && {'background-color': 'blue'}|| 
             data.month === 'SEPTEMBER' && {'background-color': '#FF4500'}|| 
             data.month === 'OCTOBER' && {'background-color': 'orange'}|| 
             data.month === 'NOVEMBER' && {'background-color': 'green'}||
            data.month === 'DECEMBER' && {'background-color': 'red'}">
                        {{data.month}}</td>
                    <td ng-style="data.month === 'JANUARY' && {'background-color': 'blue'} ||
            data.month === 'FEBRUARY' && {'background-color': 'pink'}|| 
            data.month === 'MARCH' && {'background-color': 'green'}|| 
            data.month === 'APRIL' && {'background-color': 'gray'}|| 
            data.month === 'MAY' && {'background-color': '#40e0d0'}|| 
            data.month === 'JUNE' && {'background-color': 'yellow'}|| 
            data.month === 'JULY' && {'background-color': 'white'}|| 
            data.month === 'AUGUST' && {'background-color': 'blue'}|| 
            data.month === 'SEPTEMBER' && {'background-color': '#FF4500'}|| 
            data.month === 'OCTOBER' && {'background-color': 'orange'}|| 
            data.month === 'NOVEMBER' && {'background-color': 'green'}||
           data.month === 'DECEMBER' && {'background-color': 'red'}">{{data.year}}</td>
                    <td>{{data.category}}</td>
                    <td>{{data.c_money}}</td>
                    <td>{{data.MONEY}}</td>
                    <td ng-style="data.NEGATIVE === 'TRUE' && {'background-color': 'red'} || data.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}">{{data.money_difference}}</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>


<br>
<br>
<br>

<!-- Car -->
<div class="outer overflow">
    <div class="float2">
        <h2>Insight Data - Gas</h2>
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in CarGas'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="float2">
        <h2>Insight Data - state farm Car</h2>
        <div>
            <table class="table table-bordered">
    
                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in SFCar'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="float2">
        <h2>Insight Data - BMV</h2>
        <div>
            <table class="table table-bordered">
    
                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in BMVYear'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    //

</div>







<div class="outer overflow">

    <div class="float2">
        <h2>Insight Data - IPLSpent Per Year</h2>
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in IPLSpent'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="float2">
        <h2>Insight Data - Citizen Energy Spent Per Year</h2>
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in CitizenEnergySpent'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="float2">

        <h2>Insight Data - ATT Spent Per Year</h2>
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in ATTSpent'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="float2">
        <h2>Insight Data - RING Spent Per Year</h2>
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in RingSpent'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="float2">
        <h2>Insight Data - House Princibal</h2>
        <div>
            <table class="table table-bordered">
    
                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in houseExtraPrin'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="float2">
        <h2>Insight Data - Total House Payments</h2>
        <div>
            <table class="table table-bordered">
    
                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in housePayments'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="float2">
        <h2>Insight Data - Hardware Stuff</h2>
        <div>
            <table class="table table-bordered">
        
                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in homestuff'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="utilCharController" style="height: 300px; max-width: 920px; margin: 0px auto;"></div>

</div>


<div class="float2">
    <h2>Payment Type Trans</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>Amount</td>
                    <td>Payment Type</td>
                </tr>
                <tr ng-repeat='data in paymentTypesTrans'>
                    <td>{{data.amount}}</td>
                    <td>{{data.payment_type}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





<div class="float2">
    <h2>Insight Data - Grocercies</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>MONEY</td>
                    <td>YEAR</td>
                </tr>
                <tr ng-repeat='data in Grocercies'>
                    <td>{{data.year}}</td>
                    <td>{{data.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="float2">
    <h2>Insight Data - Amazon Per Year</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>MONEY</td>
                    <td>YEAR</td>
                </tr>
                <tr ng-repeat='data in amazonSpent'>
                    <td>{{data.year}}</td>
                    <td>{{data.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="float2">
    <h2>Insight Data - Kroger Per Year</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>MONEY</td>
                    <td>YEAR</td>
                </tr>
                <tr ng-repeat='data in KrogerSpent'>
                    <td>{{data.year}}</td>
                    <td>{{data.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="float2">
    <h2>Insight Data - Medical Spent Per Year</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>MONEY</td>
                    <td>YEAR</td>
                </tr>
                <tr ng-repeat='data in medicalSpent'>
                    <td>{{data.year}}</td>
                    <td>{{data.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="float2">
    <h2>Insight Data - HouseUtils</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>YEAR</td>
                    <td>MONTH</td>
                    <td>MONEY</td>
                </tr>
                <tr ng-repeat='data in HouseUtils'>
                    <td>{{data.year}}</td>
                    <td>{{data.month}}</td>
                    <td>{{data.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<div class="float2">
    <h2>Gerneral Data</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>Category</td>
                    <td>Money</td>
                </tr>
                <tr>
                    <td>{{Data_Grocercies.Type}}</td>
                    <td>{{Data_Grocercies.money}}</td>
                </tr>
                <tr>
                    <td>{{Data_Car.Type}}</td>
                    <td>{{Data_Car.money}}</td>
                </tr>
                <tr>
                    <td>{{Data_Apartment.Type}}</td>
                    <td>{{Data_Apartment.money}}</td>
                </tr>
                <tr>
                    <td>{{Data_GeneralHousing.Type}}</td>
                    <td>{{Data_GeneralHousing.money}}</td>
                </tr>
                <tr>
                    <td>{{Data_TotalMortage.Type}}</td>
                    <td>{{Data_TotalMortage.money}}</td>
                </tr>
                <tr>
                    <td>{{Data_ExtraPrincibal.Type}}</td>
                    <td>{{Data_ExtraPrincibal.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>



</div>

<br>
<br>
<br>
<br>




</div>

</div>







</div>


<h2>Days Unitil</h2>
<div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>MONEY</td>
                <td>YEAR</td>
            </tr>
            <tr ng-repeat='data in specialEvents'>
                <td>{{data.difference_date}}</td>
                <td>{{data.event_name}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>




</div>
