<h1>Budget Mapping</h1>

<h2>YEAR 2019</h2>

<div>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>Salary</td>
            <td>Trans</td>
            <td>Difference</td>
        </tr>
        <tr>
            <td>{{year2019Salary}}</td>
            <td>{{year2019Trans}}</td>
            <td>{{year2019Difference}}</td>
        </tr>
        </tbody>
    </table>
</div>

<h2>Cats</h2>



<div>
    <table class="table table-bordered">

        <tbody>
        <tr ng-repeat='year in yearReview'>
            <td>{{year.category}}</td>
            <td  ng-style="year.NEGATIVE === 'TRUE' && {'background-color': 'red'} || year.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{year.difference}}</td>
           </tr>
        </tbody>
    </table>
</div>


<h2>MONTHS 2019</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr ng-repeat='data in SethData'>
            <td>{{data.month}}</td>
            <td>{{data.year}}</td>
            <td>{{data.category}}</td>
            <td>{{data.c_money}}</td>
            <td>{{data.MONEY}}</td>
            <td  ng-style="data.NEGATIVE === 'TRUE' && {'background-color': 'red'} || data.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{data.money_difference}}</td>
           </tr>
        </tbody>
    </table>
</div>


