<h1>Budget Mapping</h1>




<h1>YEAR 2020</h1>

<div>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>Salary</td>
            <td>Trans</td>
            <td>Salary - Trans =</td>
            <td>Budget</td>
            <td>Salary - Budget =</td>

        </tr>
        <tr>
            <td>{{year2020Salary}}</td>
            <td>{{year2020Trans}}</td>
            <td>{{year2020Difference}}</td>
            <td>{{year2020budget}}</td>
            <td>{{year2020Uncounted}}</td>
        </tr>
        </tbody>
    </table>
</div>

<h2>Cats 2020</h2>

<div>
        <table class="table table-bordered">
    
            <tbody>
            <td>Catgory</td>
            <td>Budget Money</td>
            <td>Spent Money</td>
            <td>Budget %</td>
            <td>Spent %</td>
            <td>Left Over</td>
    
            <tr ng-repeat='year in yearCategory2020'>
                <td>{{year.category}}</td>
                <td>{{year.budget_money}}</td>
                <td>{{year.spent_money}}</td>
                <td>{{year.budget_percentage}}</td>
                <td>{{year.spent_percentage}}</td>
                <td  ng-style="year.NEGATIVE === 'TRUE' && {'background-color': 'red'} || year.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{year.difference}}</td>
               </tr>
            </tbody>
        </table>
    </div>


<h2>MONTHS 2020</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr ng-repeat='data in year2020'>
            <td ng-style="data.month === 'JANUARY' && {'background-color': 'blue'} ||
             data.month === 'FEBRUARY' && {'background-color': 'pink'}|| 
             data.month === 'MARCH' && {'background-color': 'green'}|| 
             data.month === 'APRIL' && {'background-color': 'gray'}|| 
             data.month === 'MAY' && {'background-color': '#40e0d0'}|| 
             data.month === 'JUNE' && {'background-color': 'yellow'}|| 
             data.month === 'JULY' && {'background-color': 'white'}|| 
             data.month === 'AUGUST' && {'background-color': 'blue'}|| 
             data.month === 'SEPTEMBER' && {'background-color': '#FF4500'}|| 
             data.month === 'OCTOBER' && {'background-color': 'orange'}|| 
             data.month === 'NOVEMBER' && {'background-color': 'green'}||
            data.month === 'DECEMBER' && {'background-color': 'red'}"> {{data.month}}</td>
            <td ng-style="data.month === 'JANUARY' && {'background-color': 'blue'} ||
            data.month === 'FEBRUARY' && {'background-color': 'pink'}|| 
            data.month === 'MARCH' && {'background-color': 'green'}|| 
            data.month === 'APRIL' && {'background-color': 'gray'}|| 
            data.month === 'MAY' && {'background-color': '#40e0d0'}|| 
            data.month === 'JUNE' && {'background-color': 'yellow'}|| 
            data.month === 'JULY' && {'background-color': 'white'}|| 
            data.month === 'AUGUST' && {'background-color': 'blue'}|| 
            data.month === 'SEPTEMBER' && {'background-color': '#FF4500'}|| 
            data.month === 'OCTOBER' && {'background-color': 'orange'}|| 
            data.month === 'NOVEMBER' && {'background-color': 'green'}||
           data.month === 'DECEMBER' && {'background-color': 'red'}">{{data.year}}</td>
            <td>{{data.category}}</td>
            <td>{{data.c_money}}</td>
            <td>{{data.MONEY}}</td>
            <td  ng-style="data.NEGATIVE === 'TRUE' && {'background-color': 'red'} || data.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{data.money_difference}}</td>
           </tr>
        </tbody>
    </table>
</div>


<h2>LEFT OVER BY MONTH 2020</h2>

<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>CATEGORY</td>
            <td>MONEY</td>
        </tr>
        <tr ng-repeat='data in fullYearReviewLeft2020'>
            <td>{{data.CATEGORY}}</td>
            <td>{{data.MONEY_DIFFERENCE}}</td>
           </tr>
        </tbody>
    </table>
</div>

<h2>Predict End of Year </h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>CATEGORY</td>
            <td>TOTAL SPENT</td>
            <td>current_end_predict</td>
            <td>middle_number</td>
            <td>end_month_predict</td>
        </tr>
        <tr ng-repeat='data in predictValues2020'>
            <td>{{data.CATEGORY}}</td>
            <td>{{data.TOTAL_MONEY_SPENT}}</td>
            <td>{{data.current_end_predict}}</td>
            <td>{{data.middle_number}}</td>
            <td>{{data.end_month_predict}}</td>

           </tr>
        </tbody>
    </table>
</div>

<h3>BLDDD</h3>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>TOTAL SPENT</td>
            <td>current_end_predict</td>
            <td>middle_number</td>
            <td>end_month_predict</td>
        </tr>
        <tr ng-repeat='data in predictValuesBLDDD2020'>
            <td>{{data.TOTAL_MONEY_SPENT}}</td>
            <td>{{data.current_end_predict}}</td>
            <td>{{data.middle_number}}</td>
            <td>{{data.end_month_predict}}</td>

           </tr>
        </tbody>
    </table>
</div>

<h3>Gas</h3>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>TOTAL SPENT</td>
            <td>current_end_predict</td>
            <td>middle_number</td>
            <td>end_month_predict</td>
        </tr>
        <tr ng-repeat='data in predictValuesGas2020'>
            <td>{{data.TOTAL_MONEY_SPENT}}</td>
            <td>{{data.current_end_predict}}</td>
            <td>{{data.middle_number}}</td>
            <td>{{data.end_month_predict}}</td>

           </tr>
        </tbody>
    </table>
</div>
//


<h2>Pay V Spent 2020</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONTH ID</td>
            <td>YEAR</td>
            <td>Pay Amount</td>
            <td>Budget Amount</td>
            <td>UnCounted Amount</td>
            <td>Spent Amount</td>
            <td>Difference</td>

        </tr>
        <tr ng-repeat='data in payvspent2020'>
            <td ng-style="data.month === '1' && {'background-color': 'blue'} ||
             data.month === '2' && {'background-color': 'pink'}|| 
             data.month === '3' && {'background-color': 'green'}|| 
             data.month === '4' && {'background-color': 'gray'}|| 
             data.month === '5' && {'background-color': '#40e0d0'}|| 
             data.month === '6' && {'background-color': 'yellow'}|| 
             data.month === '7' && {'background-color': 'white'}|| 
             data.month === '8' && {'background-color': 'blue'}|| 
             data.month === '9' && {'background-color': '#FF4500'}|| 
             data.month === '10' && {'background-color': 'orange'}|| 
             data.month === '11' && {'background-color': 'green'}||
            data.month === '12' && {'background-color': 'red'}"> {{data.month}}</td>
            <td ng-style="data.month === '1' && {'background-color': 'blue'} ||
            data.month === '2' && {'background-color': 'pink'}|| 
            data.month === '3' && {'background-color': 'green'}|| 
            data.month === '4' && {'background-color': 'gray'}|| 
            data.month === '5' && {'background-color': '#40e0d0'}|| 
            data.month === '6' && {'background-color': 'yellow'}|| 
            data.month === '7' && {'background-color': 'white'}|| 
            data.month === '8' && {'background-color': 'blue'}|| 
            data.month === '9' && {'background-color': '#FF4500'}|| 
            data.month === '10' && {'background-color': 'orange'}|| 
            data.month === '11' && {'background-color': 'green'}||
           data.month === '12' && {'background-color': 'red'}">{{data.year}}</td>
            <td>{{data.pay_amount}}</td>
            <td>{{data.budget_amount}}</td>
            <td>{{data.uncounted_money}}</td>
            <td>{{data.spent_amount}}</td>
            <td  ng-style="data.NEGATIVE === 'TRUE' && {'background-color': 'red'} || data.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{data.money_difference}}</td>
           </tr>
        </tbody>
    </table>
</div>


<h2>Insight Data - BLDDD</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in BLDDD'>
                <td>{{data.year}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - Lilly Lunch</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in BLDDDLL'>
                <td>{{data.year}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - 2020 Lilly Lunch</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>Business</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in BLDDDPerYear2020'>
            <td>{{data.business}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>




<h2>Insight Data - Menards</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in Menards'>
                <td>{{data.year}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - Grocercies</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in Grocercies'>
                <td>{{data.year}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - Gas</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in CarGas'>
            <td>{{data.year}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>


<h2>Insight Data - state farm Car</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in SFCar'>
                <td>{{data.year}}</td>
                <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>


<h2>Insight Data - Car Payment Left</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>Payments Left:</td>

        </tr>
        <tr ng-repeat='data in CarPaymentLeft'>
            <td>{{data.money}}</td>
            <td>{{data.COUNT}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - House Princibal</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in houseExtraPrin'>
                <td>{{data.year}}</td>
                <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - HouseUtils</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>YEAR</td>
            <td>MONTH</td>
            <td>MONEY</td>
        </tr>
        <tr ng-repeat='data in HouseUtils'>
                <td>{{data.year}}</td>
                <td>{{data.month}}</td>
                <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Gerneral Data</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>Category</td>
            <td>Money</td>
        </tr>
        <tr>
            <td>{{Data_Grocercies.Type}}</td>
            <td>{{Data_Grocercies.money}}</td>
         </tr>
         <tr>
            <td>{{Data_Car.Type}}</td>
            <td>{{Data_Car.money}}</td>
         </tr>
         <tr>
            <td>{{Data_Apartment.Type}}</td>
            <td>{{Data_Apartment.money}}</td>
         </tr>
         <tr>
            <td>{{Data_GeneralHousing.Type}}</td>
            <td>{{Data_GeneralHousing.money}}</td>
         </tr>
         <tr>
            <td>{{Data_TotalMortage.Type}}</td>
            <td>{{Data_TotalMortage.money}}</td>
         </tr>
         <tr>
            <td>{{Data_ExtraPrincibal.Type}}</td>
            <td>{{Data_ExtraPrincibal.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Resutrant Data</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>Business</td>
            <td>Money</td>
            <td>Count</td>
            <td>PER_VISIT</td>
        </tr>
        <tr ng-repeat='data in resturantsData'>
                <td>{{data.business}}</td>
                <td>{{data.money}}</td>
                <td>{{data.count}}</td>
                <td>{{data.PER_VISIT}}</td>
         </tr>
        </tbody>
    </table>
</div>


<h2>NETWORTH</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>YEAR</td>
            <td>MONEY</td>
        </tr>
        <tr ng-repeat='data in networthYearCalculation'>
                <td>{{data.end_of_year}}</td>
                <td>{{data.money_value}}</td>
         </tr>
        </tbody>
    </table>
</div>


<H1>------------PAY PAY PAY--------------</H1>

<h2>Insight Data - Pay By Year</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in PayYear'>
                <td>{{data.year}}</td>
                <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Elements Pay</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in elementsPay'>
            <td>{{data.year}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>Lilly Pay</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in lillyPay'>
            <td>{{data.year}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>

<h2>CHASE CREDIT CARD</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in chaseCreditCardPay'>
            <td>{{data.year}}</td>
            <td>{{data.money}}</td>
         </tr>
        </tbody>
    </table>
</div>


<h2>Days Unitil</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONEY</td>
            <td>YEAR</td>
        </tr>
        <tr ng-repeat='data in specialEvents'>
            <td>{{data.difference_date}}</td>
            <td>{{data.event_name}}</td>
         </tr>
        </tbody>
    </table>
</div>


<h1>YEAR 2018</h1>

<div>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>Salary</td>
            <td>Trans</td>
            <td>Difference</td>
        </tr>
        <tr>
            <td>{{year2018Salary}}</td>
            <td>{{year2018Trans}}</td>
            <td>{{year2018Difference}}</td>
        </tr>
        </tbody>
    </table>
</div>
<h2>Cats 2018</h2>

<div>
    <table class="table table-bordered">

        <tbody>
        <td>Catgory</td>
        <td>Budget Money</td>
        <td>Spent Money</td>
        <td>Budget %</td>
        <td>Spent %</td>
        <td>Left Over</td>

        <tr ng-repeat='year in yearCategory2018'>
            <td>{{year.category}}</td>
            <td>{{year.budget_money}}</td>
            <td>{{year.spent_money}}</td>
            <td>{{year.budget_percentage}}</td>
            <td>{{year.spent_percentage}}</td>
            <td  ng-style="year.NEGATIVE === 'TRUE' && {'background-color': 'red'} || year.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{year.difference}}</td>
           </tr>
        </tbody>
    </table>
</div>

<h2>YEAR 2019</h2>

<div>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>Salary</td>
            <td>Trans</td>
            <td>Difference</td>
            <td>Budget</td>
        </tr>
        <tr>
            <td>{{year2019Salary}}</td>
            <td>{{year2019Trans}}</td>
            <td>{{year2019Difference}}</td>
            <td>{{year2019Budget}}</td>
        </tr>
        </tbody>
    </table>
</div>

<h2>Cats 2019</h2>

<div>
    <table class="table table-bordered">

        <tbody>
        <td>Catgory</td>
        <td>Budget Money</td>
        <td>Spent Money</td>
        <td>Budget %</td>
        <td>Spent %</td>
        <td>Left Over</td>

        <tr ng-repeat='year in yearCategory2019'>
            <td>{{year.category}}</td>
            <td>{{year.budget_money}}</td>
            <td>{{year.spent_money}}</td>
            <td>{{year.budget_percentage}}</td>
            <td>{{year.spent_percentage}}</td>
            <td  ng-style="year.NEGATIVE === 'TRUE' && {'background-color': 'red'} || year.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{year.difference}}</td>
           </tr>
        </tbody>
    </table>
</div>

<h2>MONTHS 2019</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr ng-repeat='data in year2019'>
            <td ng-style="data.month === 'JANUARY' && {'background-color': 'blue'} ||
             data.month === 'FEBRUARY' && {'background-color': 'pink'}|| 
             data.month === 'MARCH' && {'background-color': 'green'}|| 
             data.month === 'APRIL' && {'background-color': 'gray'}|| 
             data.month === 'MAY' && {'background-color': '#40e0d0'}|| 
             data.month === 'JUNE' && {'background-color': 'yellow'}|| 
             data.month === 'JULY' && {'background-color': 'white'}|| 
             data.month === 'AUGUST' && {'background-color': 'blue'}|| 
             data.month === 'SEPTEMBER' && {'background-color': '#FF4500'}|| 
             data.month === 'OCTOBER' && {'background-color': 'orange'}|| 
             data.month === 'NOVEMBER' && {'background-color': 'green'}||
            data.month === 'DECEMBER' && {'background-color': 'red'}"> {{data.month}}</td>
            <td ng-style="data.month === 'JANUARY' && {'background-color': 'blue'} ||
            data.month === 'FEBRUARY' && {'background-color': 'pink'}|| 
            data.month === 'MARCH' && {'background-color': 'green'}|| 
            data.month === 'APRIL' && {'background-color': 'gray'}|| 
            data.month === 'MAY' && {'background-color': '#40e0d0'}|| 
            data.month === 'JUNE' && {'background-color': 'yellow'}|| 
            data.month === 'JULY' && {'background-color': 'white'}|| 
            data.month === 'AUGUST' && {'background-color': 'blue'}|| 
            data.month === 'SEPTEMBER' && {'background-color': '#FF4500'}|| 
            data.month === 'OCTOBER' && {'background-color': 'orange'}|| 
            data.month === 'NOVEMBER' && {'background-color': 'green'}||
           data.month === 'DECEMBER' && {'background-color': 'red'}">{{data.year}}</td>
            <td>{{data.category}}</td>
            <td>{{data.c_money}}</td>
            <td>{{data.MONEY}}</td>
            <td  ng-style="data.NEGATIVE === 'TRUE' && {'background-color': 'red'} || data.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{data.money_difference}}</td>
           </tr>
        </tbody>
    </table>
</div>

<h2>Pay V Spent 2019</h2>
<div>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>MONTH ID</td>
            <td>YEAR</td>
            <td>Pay Amount</td>
            <td>Budget Amount</td>
            <td>Spent Amount</td>
            <td>Difference</td>

        </tr>
        <tr ng-repeat='data in payvspent2019'>
            <td ng-style="data.month === '1' && {'background-color': 'blue'} ||
             data.month === '2' && {'background-color': 'pink'}|| 
             data.month === '3' && {'background-color': 'green'}|| 
             data.month === '4' && {'background-color': 'gray'}|| 
             data.month === '5' && {'background-color': '#40e0d0'}|| 
             data.month === '6' && {'background-color': 'yellow'}|| 
             data.month === '7' && {'background-color': 'white'}|| 
             data.month === '8' && {'background-color': 'blue'}|| 
             data.month === '9' && {'background-color': '#FF4500'}|| 
             data.month === '10' && {'background-color': 'orange'}|| 
             data.month === '11' && {'background-color': 'green'}||
            data.month === '12' && {'background-color': 'red'}"> {{data.month}}</td>
            <td ng-style="data.month === '1' && {'background-color': 'blue'} ||
            data.month === '2' && {'background-color': 'pink'}|| 
            data.month === '3' && {'background-color': 'green'}|| 
            data.month === '4' && {'background-color': 'gray'}|| 
            data.month === '5' && {'background-color': '#40e0d0'}|| 
            data.month === '6' && {'background-color': 'yellow'}|| 
            data.month === '7' && {'background-color': 'white'}|| 
            data.month === '8' && {'background-color': 'blue'}|| 
            data.month === '9' && {'background-color': '#FF4500'}|| 
            data.month === '10' && {'background-color': 'orange'}|| 
            data.month === '11' && {'background-color': 'green'}||
           data.month === '12' && {'background-color': 'red'}">{{data.year}}</td> 
           <td>{{data.pay_amount}}</td>
           <td>{{data.budget_amount}}</td>
            <td>{{data.spent_amount}}</td>
            <td  ng-style="data.NEGATIVE === 'TRUE' && {'background-color': 'red'} || data.NEGATIVE === 'FALSE' && {'background-color': '#8FBC8F'}" >{{data.money_difference}}</td>
           </tr>
        </tbody>
    </table>
</div>



<h2>Days Unitil</h2>
<div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>YEAR</td>
                <td>JAN</td>
                <td>FEB</td>
                <td>MAR</td>
                <td>APR</td>
                <td>MAY</td>
                <td>JUN</td>
                <td>JUL</td>
                <td>AUG</td>
                <td>SEP</td>
                <td>OCT</td>
                <td>NOV</td>
                <td>DEC</td>
            </tr>
            <tr ng-repeat='data in lifeEvents'>
                <td>{{data.year}}</td>
                <td ng-style="data.JAN === 'RED' && {'background-color': 'red'} || data.JAN === 'BLUE' && {'background-color': 'blue'} ||  data.JAN === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.FEB === 'RED' && {'background-color': 'red'} || data.FEB === 'BLUE' && {'background-color': 'blue'} ||  data.FEB === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.MAR === 'RED' && {'background-color': 'red'} || data.MAR === 'BLUE' && {'background-color': 'blue'} ||  data.MAR === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.APR === 'RED' && {'background-color': 'red'} || data.APR === 'BLUE' && {'background-color': 'blue'} ||  data.APR === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.MAY === 'RED' && {'background-color': 'red'} || data.MAY === 'BLUE' && {'background-color': 'blue'} ||  data.MAY === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.JUN === 'RED' && {'background-color': 'red'} || data.JUN === 'BLUE' && {'background-color': 'blue'} ||  data.JUN === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.JUL === 'RED' && {'background-color': 'red'} || data.JUL === 'BLUE' && {'background-color': 'blue'} ||  data.JUL === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.AUG === 'RED' && {'background-color': 'red'} || data.AUG === 'BLUE' && {'background-color': 'blue'} ||  data.AUG === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.SEP === 'RED' && {'background-color': 'red'} || data.SEP === 'BLUE' && {'background-color': 'blue'} ||  data.SEP === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.OCT === 'RED' && {'background-color': 'red'} || data.OCT === 'BLUE' && {'background-color': 'blue'} ||  data.OCT === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.NOV === 'RED' && {'background-color': 'red'} || data.NOV === 'BLUE' && {'background-color': 'blue'} ||  data.NOV === 'YELLOW' && {'background-color': 'yellow'}"></td>
                <td ng-style="data.DECE === 'RED' && {'background-color': 'red'} || data.DECE === 'BLUE' && {'background-color': 'blue'} ||  data.DECE === 'YELLOW' && {'background-color': 'yellow'}"></td>

            </tr>
        </tbody>
    </table>
</div>