<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .outer {
        border: 5px dotted rgb(214, 129, 137);
        border-radius: 5px;
        width: absolute;
        padding: 10px;
        margin-bottom: 40px;
    }

    .float1 {
        padding: 10px;
        border-radius: 5px;
        float: center;
        width: 800px;
    }

    .float {
        padding: 10px;
        border-radius: 5px;
        float: left;
        width: 600px;
    }

    .float2 {
        padding: 10px;
        border-radius: 5px;
        float: left;
        width: 450px;
    }

    .overflow {
        overflow: auto;
    }
</style>


<h1>Grocery</h1>

<div class="float2">
    <h2>Insight Data - Grocercies</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>MONEY</td>
                    <td>YEAR</td>
                </tr>
                <tr ng-repeat='data in Grocercies'>
                    <td>{{data.year}}</td>
                    <td>{{data.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="float2">
    <h2>Insight Data - Kroger Per Year</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>MONEY</td>
                    <td>YEAR</td>
                </tr>
                <tr ng-repeat='data in KrogerSpent'>
                    <td>{{data.year}}</td>
                    <td>{{data.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="float2">
    <h2>Insight Data - Costco Per Year</h2>
    <div>
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <td>MONEY</td>
                    <td>YEAR</td>
                </tr>
                <tr ng-repeat='data in CostcoSpent'>
                    <td>{{data.year}}</td>
                    <td>{{data.money}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>