<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .outer {
        border: 5px dotted rgb(214, 129, 137);
        border-radius: 5px;
        width: absolute;
        padding: 10px;
        margin-bottom: 40px;
    }

    .float1 {
        padding: 10px;
        border-radius: 5px;
        float: center;
        width: 800px;
    }

    .float {
        padding: 10px;
        border-radius: 5px;
        float: left;
        width: 600px;
    }

    .float2 {
        padding: 10px;
        border-radius: 5px;
        float: left;
        width: 450px;
    }

    .overflow {
        overflow: auto;
    }
</style>

<button ng-click="MoveNetWorthCategories()">MoveNetWorthCategories - Console Logs</button>

<h1>NETWORTH</h1>
<div id="chartContainerBudget22" style="height: 300px; max-width: 920px; margin: 0px auto;"></div>
</p>
<div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>Count</td>
                <td>Date</td>
                <td>MONEY</td>
                <td>Debt</td>
                <td>Ratio</td>
            </tr>
            <tr ng-repeat='data in networthYearCalculation'>
                <td>{{data.total_count}}</td>
                <td>{{data.date}}</td>
                <td>{{data.money_value}}</td>
                <td>{{data.money_debt}}</td>
                <td>{{data.money_ratio}}%</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>NETWORTH</h2>
<div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>YEAR</td>
                <td>MONEY</td>
            </tr>
            <tr ng-repeat='data in networthYearCalculationCategory'>
                <td> {{data.year}}-{{data.month}}-{{data.day}} : {{data.category_type}}</td>
                <td>{{data.money_value}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="lineChartContainer" style="height: auto; width: auto;"></div>
