
<H1>------------PAY PAY PAY--------------</H1>
</div>


<div class="outer overflow">
    <div class="float2">
        <h2>Elements Pay</h2>
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in elementsPay'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="float2">
        <h2>Lilly Pay</h2>
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in lillyPay'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="float2">
        <h2>CHASE CREDIT CARD</h2>
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in chaseCreditCardPay'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>






<h2>Insight Data - Pay By Year</h2>
<div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>MONEY</td>
                <td>YEAR</td>
            </tr>
            <tr ng-repeat='data in PayYear'>
                <td>{{data.year}}</td>
                <td>{{data.money}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - Seth Pay</h2>
<div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>Year</td>
                <td>Money</td>
            </tr>
            <tr ng-repeat='data in SethPay'>
                <td>{{data.year}}</td>
                <td>{{data.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - Emily Pay</h2>
<div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>Year</td>
                <td>Money</td>
            </tr>
            <tr ng-repeat='data in EmilyPay'>
                <td>{{data.year}}</td>
                <td>{{data.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>





</div>

<h2>Next Pay</h2>
<div>
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>Date</td>
            </tr>
            <tr ng-repeat='data in nextPayDay'>
                <td>{{data.next_pay_day}}</td>
            </tr>
        </tbody>
    </table>
</div>
