<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .outer {
        border: 5px dotted rgb(214, 129, 137);
        border-radius: 5px;
        width: absolute;
        padding: 10px;
        margin-bottom: 40px;
    }

    .float1 {
        padding: 10px;
        border-radius: 5px;
        float: center;
        width: 800px;
    }

    .float {
        padding: 10px;
        border-radius: 5px;
        float: left;
        width: 600px;
    }

    .float2 {
        padding: 10px;
        border-radius: 5px;
        float: left;
        width: 450px;
    }

    .overflow {
        overflow: auto;
    }
</style>
<H1>------------PAY PAY PAY--------------</H1>
</div>

Total: {{total}} <br />
Total to Date: {{totalToDate}}

<button ng-click="CopyPaySeth()">Copy Pay Seth- Console Logs</button>
<button ng-click="CopyPayEmily()">Copy Pay Emily - Console Logs</button>


<div class="outer overflow">
    <div class="float2">
        <h2>Elements Pay</h2> Total: {{bankTotal}}
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in elementsPay'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="float2">
        <h2>Lilly Pay</h2> Total: {{lillyTotal}}
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in lillyPay'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="float2">
        <h2>UKG Pay</h2> Total: {{UKGTotal}}
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in UKGPay'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    

    <div class="float2">
        <h2>Veeva Pay</h2> Total: {{veevaTotal}}
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in veevaPay'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="float2">
        <h2>CHASE CREDIT CARD</h2> Total: {{ccTotal}}
        <div>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>MONEY</td>
                        <td>YEAR</td>
                    </tr>
                    <tr ng-repeat='data in chaseCreditCardPay'>
                        <td>{{data.year}}</td>
                        <td>{{data.money}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


<div class="outer overflow">
<h2>Insight Data - Pay By Year</h2>
<div class="float2">
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>MONEY</td>
                <td>YEAR</td>
            </tr>
            <tr ng-repeat='data in PayYear'>
                <td>{{data.year}}</td>
                <td>{{data.money}}</td>
            </tr>
        </tbody>
    </table>
</div>


<h2>Insight Data - Seth Pay</h2>
<div class="float2">
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>Year</td>
                <td>Money</td>
            </tr>
            <tr ng-repeat='data in SethPay'>
                <td>{{data.year}}</td>
                <td>{{data.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Insight Data - Emily Pay</h2>
<div class="float2">
    <table class="table table-bordered">

        <tbody>
            <tr>
                <td>Year</td>
                <td>Money</td>
            </tr>
            <tr ng-repeat='data in EmilyPay'>
                <td>{{data.year}}</td>
                <td>{{data.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

</div>

<div id="chartContainerPay" style="height: 300px; max-width: 920px; margin: 0px auto;"></div>
