<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
    
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 10px;
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    
        .outer {
            border: 5px dotted rgb(214, 129, 137);
            border-radius: 5px;
            width: absolute;
            padding: 10px;
            margin-bottom: 40px;
        }
    
        .float1 {
            padding: 10px;
            border-radius: 5px;
            float: center;
            width: 800px;
        }
    
        .float {
            padding: 10px;
            border-radius: 5px;
            float: left;
            width: 600px;
        }
    
        .float2 {
            padding: 10px;
            border-radius: 5px;
            float: left;
            width: 450px;
        }
    
        .overflow {
            overflow: auto;
        }
    </style>
    
    <h3>EMILY</h3>

    <h3>Last Time Stamp</h3>
    <div>
        <table class="table table-bordered">
    
            <tbody>
                <tr>
                    <td>Date</td>
    
                </tr>
                <tr ng-repeat='data in latestTimeStamp'>
                    <td>{{data.Workout_Timestamp}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h3>Total Mileage</h3>
    <div>
        <table class="table table-bordered">
    
            <tbody>
                <tr>
                    <td>Miles</td>
                </tr>
                <tr ng-repeat='data in getTotalMilage'>
                    <td>{{data.Distance}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>COUNTS</h3>
    <div>
        <table class="table table-bordered">
    
            <tbody>
                <tr>
                    <td>Total Count</td>
                    <td>Length (min)</td>
    
                </tr>
                <tr ng-repeat='data in getLargestLength'>
                    <td>{{data.total_count}}</td>
                    <td>{{data.Length_minutes}}</td>
    
                </tr>
            </tbody>
        </table>
    </div>
    
    <h3>Best Rides</h3>
    <div>
        <table class="table table-bordered">
                
            <tbody>
                <tr>
                    <td>Length (minutes)</td>
                    <td>Workout_Timestamp</td>
                    <td>Total_Output</td>
                    <td>Avg_Resistance</td>
                    <td>Avg_Cadence_RPM</td>
                    <td>Avg_Speed_mph</td>
                    <td>Distance (mi)</td>
                    <td>Calories_Burned</td>
                    <td>mile_average</td>
    
                </tr>
                <tr ng-repeat='data in getBestRide'>
                    <td>{{data.Length_minutes}}</td>
                    <td>{{data.Workout_Timestamp}}</td>
                    <td>{{data.Total_Output}}</td>
                    <td>{{data.Avg_Resistance}}</td>
                    <td>{{data.Avg_Cadence_RPM}}</td>
                    <td>{{data.Avg_Speed_mph}}</td>
                    <td>{{data.Distance_mi}}</td>
                    <td>{{data.Calories_Burned}}</td>
                    <td>{{data.mile_average}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    